body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    border: 2px solid #720404;
}

.menu__list {
    max-width: 1200px;
    margin-left: 0 auto;
    padding: 20px;
}

.top_main {
    border: 1px solid #000;
    margin-left: 0;
    padding-bottom: 0;
}

.subheading-block {
    border: 1px solid #000;
}

.subheading-h4 {
    border: 1px solid #000;
}

.paragraph-block {
    border: 1px solid #000;
}

.menu {
    border: 1px solid #000;
}

.content {
    border: 1px solid #000;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}

.main {
    font-size: 64px;
    color: #1F3F68;
}

.subheading-contact {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.subheading {
    font-size: 36px;
    text-align: center;
}

.subheading-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.subheading-block3 {
    border: 1px solid #000;
}

sfsffsdfsdffs dsf .paragraph-block1 {
    border: 1px solid #000;
}

.hr {
    border: 1px solid #000;
}

.all_right_reserved {
    border: 1px solid #000;
}

.input-field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}