* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
}

.header-wrapper wrapper {
    width: 1140px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.header-text-wrapper__h1 {
    height: 510px;
}

.header-text-wrapper__description {
    height: 425px;
}

.content-wrapper wrapper {
    display: flex;
    justify-content: center;
}

.service-info-card__h4 {
    height: 359px;
}

.footer-wrapper wrapper {
    display: flex;
    justify-content: center;
}

.work-with-us {
    display: flex;
    height: 65px;
    justify-content: center;
}