* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-text-wrapper__h1 {
    width: 510px;
    font-size: 64px;
}

.header-text-wrapper__description {
    width: 425px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
}

.service-info-card {
    width: 359px;

}

.service-info-card__h4 {
    height: 359px;
}

.work-with-us-description-wrapper__header {
    width: 340px;
}

.work-with-us-description-wrapper__description {
    width: 495px;
}

.contacts-info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact-form-info {
    display: inline-block;
    justify-content: space-around;
}

.send-us {
    display: inline-block;
    justify-content: space-around;
}